html,body {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background:rgb(0, 0, 0);
}
.block {
    background: rgb(255, 255, 255);
line-height: 60px;
text-align: center;
border-radius: 20px 20px;
height: 405px;
width: 305px;
color: rgb(255, 255, 255);
float: left;
margin: 0px;
position: relative;
bottom:-220px;
left: 35px;
font-size: 30px;
text-decoration: none;
}
#login1 {
background: rgb(255, 255, 255);
line-height: 60px;
text-align: center;
border-radius: 20px 20px;
height: 65px;
width: 205px;
color: rgb(0, 0, 0);
float: left;
margin: 330px;
position: absolute;
top: 0;
z-index: 2;
left: -250px;
font-size: 30px;
text-decoration: none;
border:2px solid black;
}
.text1 {
color:rgb(0, 0, 0);
font-size: 35px;
position: relative;
bottom: -220px;
left: -210px; 
font-family: "Moderustic", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
}
#pass1 {
    background: rgb(255, 255, 255);
    line-height: 60px;
    text-align: center;
    border-radius: 20px 20px;
    height: 65px;
    width: 205px;
    color: rgb(0, 0, 0);
    float: left;
    margin: 440px;
    position: absolute;
    top: 0;
    z-index: 2;
    left: -360px;
    font-size: 30px;
    text-decoration: none;
    border:2px solid black;
    }
.img1 img {
    height: 30px;
    width: 30px;
    position: relative;
    float: left;
    bottom:-260px;
    left:  -5px;
}
.img1:hover {
    content: url(./source/eye-crossed.png);
    height: 30px;
    width: 30px;
    position: relative;
    float: left;
    bottom:-260px;
    left:  -5px;
}
.text2 {
    color:rgb(0, 0, 0);
    font-size: 20px;
    position: relative;
    bottom: -190px;
    left: -200px; 
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.text3 {
    color:rgb(0, 0, 0);
    font-size: 20px;
    position: relative;
    bottom: -250px;
    left: -200px; 
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
#signin {
    background: rgb(0, 0, 0);
    line-height: 60px;
    text-align: center;
    border-radius: 20px 20px;
    height: 65px;
    width: 205px;
    color: rgb(255, 255, 255);
    float: left;
    margin: 550px;
    position: absolute;
    top: 0;
    z-index: 2;
    left: -465px;
    font-size: 30px;
    text-decoration: none;
    border:2px solid black;
}
.img3 img {
    height: 100px;
    width: 115px;
    position: relative;
    float: left;
    bottom: 420px;
    left:  245px;
}
.text4 {
    color:rgb(0, 0, 0);
    font-size: 20px;
    position: relative;
    bottom: -385px;
    left: -200px; 
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-decoration: none;
}